<!DOCTYPE html>
<html lang="en" xmlns:th="html://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>

<nav th:replace="common/navbar :: common-navbar" />

<div class="container">
  <div class="row">
    <h2 th:text="#{contact.title.h2}"></h2>
    <div class="col-md-6">
      <form id="contactForm"
          th:action="@{/contact/}"
		  th:object="${feedback}"
		  method="post"
		  class="text-left">
		<div class="form-group">
		  <label for="email" th:text="#{contact.form.email}"></label>
		  <input type="email" id="email" th:field="*{email}" class="form-control" />
		</div>
		<div class="form-group">
		  <label for="firstName" th:text="#{contact.form.firstname}"></label>
		  <input type="text" id="firstName" th:field="*{firstName}" class="form-control" />
		</div>	
		<div class="form-group">
		  <label for="lastName" th:text="#{contact.form.lastname}"></label>
		  <input type="text" id="lastName" th:field="*{lastName}" class="form-control" />
		</div>	
		<div class="form-group">
		  <label for="feedback" th:text="#{contact.form.comment}"></label>
		  <textarea id="feedback" th:field="*{feedback}" class="form-control"></textarea>
		</div>	
		<div class="form-group">
		  <button type="submit" class="btn btn-primary" th:text="#{contact.form.submit}"></button>
		</div>							 						 						 						 
	  </form>
    </div>
  </div>
</div>

<div th:replace="common/header :: common-js-scripts" />

</body>
</html>